| {% extends 'base.html' %}

| {% block content %}
h1.mainTitle Медиа контент
section.videos.parent
	h2.videos__title Видео
	iframe.video(
		width="560",
		height="315", src="https://www.youtube.com/embed/g3aI1uMFV-Q",
		frameborder="0",
		allowfullscreen
	)
	iframe.video( 
		width="560",
		height="315", 
		src="https://www.youtube.com/embed/94Zxxf-4_VE",
		frameborder="0",
		allowfullscreen
	)
	iframe.video(
		width="560", 
		height="315",
		src="https://www.youtube.com/embed/KuHhkFDJKP8", 
		frameborder="0",
		allowfullscreen
	)
| {% endblock %}